<div>
    {% extends "EstampasVoodoo/inicio.html" %}
    {% load static %}
    
        {% block bloqueDinamico %}
            {% block setRemera %}
                <p>Crear remera</p>
                <form action="/EstampasVoodoo/setRemera/" method="post"> {% csrf_token %}
                    <table>
                        {{ miFormulario.as_table }}
                    </table>
                    <input type = "submit" value="Enviar">
                </form>
            {% endblock %}
        {% endblock %}
</div>